*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Inter", sans-serif;
}

.main-body-bg{
    background-color: rgba(17, 17, 17, 1)
}
.main-body-width{
    max-width: 1440px;
    margin: auto;
    padding-top: 66px;
}

/* header-start */

.nav-containt{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 57px 0px 32px;
}
.nav-left{
    width: 50%;
}
.nav-right{
    width: 50%;
}
.fitness-h2{
    font-size: 36px;
    font-weight: 800;
    line-height: 43.2px;
    color: rgba(230, 83, 60, 1);
}
.nave-menu{
    font-size:18px ;
    font-weight:400 ;
    line-height:21.6px ;
    color:rgba(255, 255, 255, 1) ;
    text-decoration: none;
    padding: 12px 23px;
    border-radius: 46px;   
}
.nav-item {
    display: inline;

    border-radius: 46px;
}
.Home{
    background-color: rgba(230, 83, 60, 1);
    padding: 12px 23px;

}
.nav-item-box{
    border: 1px dotted #ffffff3d;
    border-radius: 34px;
    padding: 12px 0px;
    width: 70%;
}
.bars-icon {
    color: #ffffffad;
    font-size: 24px;
    display: none;
}
/* Banner-section */

.banner-title{
    font-size:78px ;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);
    line-height: 93.6px;

}
.banner-title-span{
    font-weight: 400;
    font-style: italic;
}
.banner-p{
    font-size:16px ;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 28px 0px;
}
.banner-button{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    padding: 16px 40px;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color:rgba(255, 255, 255, 1);
    cursor: pointer;
    background-color: rgba(119, 119, 119, 0);
    border: 1px solid ;
}
.join{
    background-color: rgba(230, 83, 60, 1); 
    border: 1px solid rgba(230, 83, 60, 1);
    margin-right: 14px;
}
.banne-flex {
    display: flex;
}
.banner-left{
    width: 50%;
}
.banner-right{
    width: 50%;
}
.banner-left-containt{
    width: 600px;
    padding-top: 96px;
}
.banner-right-containt{
    background-image: url(../images/Images\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 580px;
    position: relative;
}
.banner-top{
    background-color: rgba(255, 255, 255, 0.1);
    width: 193px;
    border-radius: 12px;
    padding: 17px 24px;
    position: absolute;
    top: 130px;
    right: 60px;
}
.fife-thousant{
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    color:rgba(255, 255, 255, 1);
}
.Free-Workout{
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.65);
}
.banner-bottom{
    background-color: rgba(255, 255, 255, 0.1);
    width: 193px;
    border-radius: 12px;
    position: absolute;
    left: 60px;
    bottom: 55px;
    padding: 17px 15px;
    display: flex;
    align-items: center;
}
.play-icon{
    color: #fff;
    margin: 7px 0px 0px 10px;
}
.doth{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color:rgba(230, 83, 60, 1);
    margin: 15px;
}

/* header-end */

/* .........main-body.......... */

/* First-Section-  Change Your Habits */

.title-box{
    text-align: center;
    padding: 100px 0px 58px;
    width: 671px;
    margin: auto;
}
.title-h2{
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 900;
    color:rgba(255, 255, 255, 1);
}
.title-p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
}
.first-title-p{
    padding-top: 14px;
}
.Grid-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    
}
.grid-box{
    text-align: center;
}
.First-section-img{
    width: 180px;
    border-radius: 100%;
    border: 4px solid rgba(255, 255, 255, 0.1);
}
.card-h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    color:rgba(255, 255, 255, 1);
    padding: 30px 0px 6px;
}
.card-p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    color:rgba(255, 255, 255, 0.5);
    padding: 0px 30px;
}

/* .........Second-Section-Run an Extra Mile Easily.......... */

.habits-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 62px;
    padding: 40px 54px;
    background-color: #ffffff17;
    border-radius: 18px;
    margin: 100px 0px;
}
.habits-text{
    width: 443px;
}
.img-run{
    width: 100%;
    border-radius: 18px;
}
.habits-img{
    width: 366px;
}
.second-title-p{
    padding: 14px 0px 34px;
}
.Run-Extra-Mile {
    margin-right: 35px;
}

/* .........Third-Section-Trainings and Exercises........... */

.Trainings-title-p{
    padding-top: 14px;
}
.Trainings-text-box{
    width: 45%;
}
.training-box{
    padding: 58px 0px 88px;
}
.training-img-section-top{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}
.training-img-section-bottom{
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr;
}
.img-width{
    width: 100%;
    height: 201.5px;
}
.training-containt{
    position: relative;
}
.text-containt{
    height: 201.5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0px;
}
.text-containt-one {
    background-color: rgba(6, 255, 210, 0.5);
}
.text-containt-two {
    background: rgba(255, 0, 0, 0.3);
}
.text-containt-three {
    background: rgba(0, 0, 0, 0.5);
}
.text-containt-four {
    background: rgba(0, 0, 0, 0.5);
}
.text-containt-five {
    background: rgba(66, 255, 0, 0.3);
}
.text-containt-six {
    background: rgba(0, 71, 255, 0.3);
}
.leg-press{
    padding: 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
}
.leg-press-one {
    position: absolute;
    bottom: 0;
    color: rgba(0, 0, 0, 1);
}
.leg-press-three {
    position: absolute;
    bottom: 0;
}
.leg-press-four {
    position: absolute;
    top: 0;
    right: 0;
}
.leg-press-five, .leg-press-six {
    position: absolute;
    bottom: 0;
}

/* .........Fourth-section-BMI Calculator........ */

.BMI-Calculator-text-box{
   width: 671px;
   margin: auto;
   padding-bottom: 88px;
}
.BMI-bg{
    background-color: #ffffff17;
}
.BMI-flex {
    display: flex;
    gap: 44px;
    justify-content: space-between;
}
.Calculator-h3 {
    font-size: 28px;
    font-weight: 900;
    line-height: 33.6px;
    color: rgba(255, 255, 255, 1);
    padding-top: 50px;
}
.Calculator-title-p{
    padding-top: 14px;
    width: 75%;
}
.personal-information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    width: 75%;
}
.personal-info-box{
    padding: 34px 0px;
}
.information{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 13px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
}
.activity {
    width: 70%;
    margin-top: 13px;
}
.span{
    cursor: pointer;
    /* padding: 13px 20px; */
}
.Calculator-button {
    background-color: rgba(230, 83, 60, 1);
    margin: 34px 0px;
    border: 1px solid rgba(230, 83, 60, 1);
}
table{
    border-collapse: collapse;
    width: 310px;
    margin-top: 52px;
}
td , th{
    border: 1px solid #ffffff4a;
    padding: 13px 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color:rgba(255, 255, 255, 0.5);
}
th{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color:rgba(255, 255, 255, 1);
}

/* .........Fifth-section-Meet Our Team........ */

.fifth{
    padding-bottom: 88px;
}
.Team {
    text-align: center;
    padding-top: 88px;
}
.Team-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: #ffffff17;
    padding: 20px;
    border-radius: 18px;
}
.team-img{
    width: 100%;
    border-radius: 18px;
    /* width: 326.67px; */
    height: 272px;
}

/* ........Footer-section......... */

.fitness{
    width: 30%;
}
.started-one{
    width: 30%;
}
.footer-bg {
    /* background-color: black; */
    background-color: #262626 !important;
}    
.footer-flex{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 79px;
    margin-bottom: 36px;
    border-bottom:1px solid rgba(255, 255, 255, 0.5) ;
}
.Get-Started{
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 39px;
}
.service {
    display: block;
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    color: rgba(255, 255, 255, 0.5);
    margin: 20px 0px;
}
.footer-h2{
    font-size: 70px;
    font-weight: 800;
    line-height: 84px;
    color: rgba(230, 83, 60, 1);
}
.footer-p{
    padding-top: 20px;
}
.All-right-footer-p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-bottom: 35px;
    
}
